nav#primary-nav {
    @media screen and (max-width: $breakpoint_tablet_large_portrait) {
        //to correct for disappearing menu items:
        padding: 12px 0;
    }

    //the main logo & homepage link:
    a.site-home-link {
        position: absolute;
        bottom: 12px;
        left: 0;

        @media screen and (max-width: $breakpoint_laptop_large) {
            left: 5%;
        }

        @media screen and (max-width: $breakpoint_before_mobile_small) {
            position: relative;
            left: auto;
            bottom: auto;
            display: block;
            margin: 0 auto 0 0;
        }
    }

    //the standard, top-level menu item:
    ul#menu-primary-navigation {
        @media screen and (max-width: $breakpoint_tablet_large_portrait) {
            display: none;
        }

        > li {
            position: relative;
            display: inline-block;
            margin-top: 0;

            //immediate nested link
            > a {
                position: relative;
                display: inline-block;
                padding: 32px 16px;
                font-weight: 700;

                &:after {
                    content: '';
                    position: absolute;
                    left: 16px;
                    width: calc(100% - 32px);
                    height: 8px;
                    bottom: 0;
                    pointer-events: none;

                    opacity: 0;

                    transition: opacity 0.3s ease-in-out;
                    transition-delay: 0.75s;
                }
            }

            //states & rules that provide a UX breadcrumb:
            &:hover > a:after,
            &:focus > a:after,
            &:focus-within > a:after,
            &.current-menu-item > a:after,
            &.current-menu-ancestor > a:after,
            &.current-menu-parent > a:after {
                opacity: 1;
                transition-delay: 0s;
            }

            //states & rules that display the immediate sub-menu:
            &:hover,
            &:focus,
            &:focus-within {
                > ul.sub-menu {
                    max-width: 1000px;
                    max-height: 1000px;
                    opacity: 1;

                    transition: opacity 0.3s ease-in-out;
                }
            }

            //standard, top-level menu item's immediate sub-menu:
            > ul.sub-menu {
                position: absolute;
                top: 100%;
                left: 16px; //to match top-level-link left padding
                width: 100%;
                min-width: 200px;
                height: auto;
                z-index: 9;

                max-width: 1px;
                max-height: 1px;
                overflow: hidden;
                opacity: 0;

                transition: opacity 0.3s ease-in-out 0.5s,
                    max-height 0.1s linear 0.85s, max-width 0.1s linear 0.85s,
                    padding 0.1s linear 0.85s;

                //immediate sub-menu item(s)
                > li {
                    > a {
                        display: block;
                        width: 100%;
                        height: auto;

                        &:hover,
                        &:focus {
                            //
                        }
                    }

                    &.current-menu-item > a {
                        //
                    }

                    &:last-of-type > a {
                        border-bottom: 0;
                    }
                }

                li + li {
                    margin: 0;
                }
            }
        }
    }
}
