dialog.popup {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 9999;
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.3s ease, visibility 0.3s ease;

    &[aria-hidden='false'] {
        opacity: 1;
        visibility: visible;

        .popup-content {
            transform: translateY(0);
        }
    }

    .popup-content {
        background-color: #fff;
        padding: 3rem;
        max-width: 90%;
        width: 600px;
        max-height: 90vh;
        overflow-y: auto;
        position: relative;
        transform: translateY(20px);

        transition: transform $global_transition_duration ease;

        &.small {
            width: 600px;
        }

        &.medium {
            width: 800px;
        }

        &.large {
            width: 1200px;
        }
    }

    button.close-popup {
        position: absolute;
        top: 0rem;
        right: 1rem;
        background: none;
        border: none;
        font-size: 3.5rem;
        line-height: 1;
        cursor: pointer;
        padding: 0.5rem;
        color: #666;

        transition: color $global_transition_duration ease;

        &:hover {
            color: #000;
        }
    }
}
