//the following is taken directly from an icomoon export
//the only thing we've changed here is the reference to the fonts folder
//this is a necessary result of our gulp compiling & theme folder structure
//this is demonstrated in the commented-out line below
@font-face {
  font-family: 'icomoon';
  //src:  url('fonts/icomoon.eot?hcjrio');
  src: url('views/global/widgets/social-media-icons/assets/fonts/icomoon.eot?hcjrio');
  src: url('views/global/widgets/social-media-icons/assets/fonts/icomoon.eot?hcjrio#iefix') format('embedded-opentype'),
    url('views/global/widgets/social-media-icons/assets/fonts/icomoon.ttf?hcjrio') format('truetype'),
    url('views/global/widgets/social-media-icons/assets/fonts/icomoon.woff?hcjrio') format('woff'),
    url('views/global/widgets/social-media-icons/assets/fonts/icomoon.svg?hcjrio#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="icon-"],
[class*=" icon-"] {
  //Use !important to prevent issues with browser extensions that change fonts 
  font-family: 'icomoon' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  //Better Font Rendering:
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-x:before {
  content: "\e900";
}

.icon-amazon:before {
  content: "\ea87";
}

.icon-google:before {
  content: "\ea88";
}

.icon-google2:before {
  content: "\ea89";
}

.icon-google3:before {
  content: "\ea8a";
}

.icon-google-plus:before {
  content: "\ea8b";
}

.icon-google-plus2:before {
  content: "\ea8c";
}

.icon-google-plus3:before {
  content: "\ea8d";
}

.icon-hangouts:before {
  content: "\ea8e";
}

.icon-google-drive:before {
  content: "\ea8f";
}

.icon-facebook:before {
  content: "\ea90";
}

.icon-facebook2:before {
  content: "\ea91";
}

.icon-instagram:before {
  content: "\ea92";
}

.icon-whatsapp:before {
  content: "\ea93";
}

.icon-spotify:before {
  content: "\ea94";
}

.icon-twitter:before {
  content: "\ea96";
}

.icon-vine:before {
  content: "\ea97";
}

.icon-rss:before {
  content: "\ea9b";
}

.icon-rss2:before {
  content: "\ea9c";
}

.icon-youtube:before {
  content: "\ea9d";
}

.icon-youtube2:before {
  content: "\ea9e";
}

.icon-twitch:before {
  content: "\ea9f";
}

.icon-vimeo:before {
  content: "\eaa0";
}

.icon-vimeo2:before {
  content: "\eaa1";
}

.icon-steam:before {
  content: "\eaac";
}

.icon-steam2:before {
  content: "\eaad";
}

.icon-dropbox:before {
  content: "\eaae";
}

.icon-github:before {
  content: "\eab0";
}

.icon-wordpress:before {
  content: "\eab4";
}

.icon-tumblr:before {
  content: "\eab9";
}

.icon-tumblr2:before {
  content: "\eaba";
}

.icon-skype:before {
  content: "\eac5";
}

.icon-linkedin:before {
  content: "\eac9";
}

.icon-linkedin2:before {
  content: "\eaca";
}

.icon-pinterest:before {
  content: "\ead1";
}

.icon-pinterest2:before {
  content: "\ead2";
}

.icon-paypal:before {
  content: "\ead8";
}