@import 'modules/gallery-list/assets/scss/individual-listing';
//@import 'modules/gallery-list/assets/scss/navigation';
//@import 'modules/gallery-list/assets/scss/gallery-list';

@import 'widgets/search-category-form/assets/search-category-form';
