form.custom-theme-search > ul.search-form-fields {
    position: relative;

    > li > input {
        border-radius: 0;
        margin: 0;
        width: 100%;
    }

    > li.submit-button {
        position: absolute;
        top: 0;
        right: 0;
        width: 48px;
        height: 100%;
        margin: 0;
        overflow: hidden;

        > input {
            display: block;
            position: absolute;
            top: 0;
            right: 0;
            width: 100%;
            height: 100%;
            padding: 0;
            color: transparent;
            background-color: transparent;
            background-image: url('library/custom-theme/images/icons/search-button.svg');
            background-size: 24px;
            background-position: center;
            background-repeat: no-repeat; 
        }
    }
}