div.social-share-buttons {
    // 

    span.label {
        //
    }

    //plugin-specific styling:
    div.addtoany_shortcode div.addtoany_list {
        display: flex;
        column-gap: 6px;
    
        a {
            position: relative;
            width: auto;
            height: auto;
            padding: 0;
            display: inline-flex;
            justify-content: center;
            align-items: center;
    
            &:before {
                position: relative;
    
                //we want to replace the plugin's default icons with our icomoon to force consistency
                font-family: 'icomoon' !important;            
                font-size: 18px;
                font-style: normal;            
                text-transform: none;
                font-variant: normal;
                font-weight: normal;
                line-height: 1;
                speak: never;
            
                // Better Font Rendering:
                -webkit-font-smoothing: antialiased;
                -moz-osx-font-smoothing: grayscale;
            }
        
            //pull these icon codes from views\global\widgets\social-media-icons\assets\scss\_icons.scss
            &.a2a_button_facebook:before {
                content: '\ea90';
            }
    
            &.a2a_button_linkedin:before {
                content: "\eaca"; 
                transform: translateY(1.5px);
            }
    
            &.a2a_button_x:before {
                content: "\e900";
                transform: translateY(2px);
            }
        }
    }
}