/* Toggles */
.toggles {
    .intro-content-row {
        margin-bottom: 45px;
    }

    &.numbered-list {
        counter-reset: toggle-number;

        .toggle {
            counter-increment: toggle-number;
        }

        .toggle__trigger {
            padding-left: 80px;
            padding-right: 0;

            @media (max-width: $breakpoint_tablet_medium_portrait) {
                padding-left: 40px;
                padding-right: 30px;
            }

            &::before {
                content: counter(toggle-number);
                position: absolute;
                left: 20px;
                top: 50%;
                transform: translateY(-50%);
                color: rgba(105, 105, 77, 0.88);
                font-size: 45px;
                text-align: center;
                font-family: 'Cormorant Infant', serif;
                font-style: normal;
                font-weight: 700;
                line-height: normal;
                z-index: 1;
            }
            &::after {
                content: '';
                background: url(/wp-content/themes/mrmastertheme/library/custom-theme/images/icons/list-bullet.svg)
                    no-repeat center center;
                background-size: cover;
                position: absolute;
                left: 0;
                top: 50%;
                transform: translateY(-50%);
                width: 58px;
                height: 58px;
            }
        }

        .toggle__box {
            padding-left: 0;
            padding-right: 0;
        }

        @media (max-width: $breakpoint_tablet_medium_portrait) {
            .toggle__trigger {
                padding-left: 60px;
                &:before {
                    font-size: 30px;
                    left: 13px;
                }
                &::after {
                    width: 38px;
                    height: 38px;
                }
            }
        }

        // Desktop: show all content (no toggle behavior)
        @media (min-width: $breakpoint_tablet_medium_portrait) {
            .toggle__trigger {
                cursor: default;
                border-top: none;
            }

            .toggle__trigger-icon {
                display: none;
            }

            .toggle__box {
                display: block !important;
            }

            .toggle:last-of-type {
                .toggle__trigger {
                    //border-bottom: 2px solid $color_gold;
                }
            }
        }
    }
}
.toggle {
    margin: 0;
    width: 100%;

    &:last-of-type {
        .toggle__trigger[aria-expanded='false'] {
            border-bottom: 2px solid $color_gold;
        }
    }

    &__trigger {
        background: transparent;
        display: block;
        position: relative;
        width: 100%;
        height: auto;
        border: none;
        padding: 25px 60px 25px 50px;
        text-align: left;
        border-top: 2px solid $color_gold;
        color: $color_blue;
        font-size: 24px;
        font-style: normal;
        font-weight: 800;
        line-height: normal;
        letter-spacing: 4.32px;
        text-transform: uppercase;
        @media (max-width: $breakpoint_tablet_medium_portrait) {
            font-size: 16px;
            letter-spacing: 3.24px;
            padding-left: 0;
            padding-right: 30px;
        }

        &[aria-expanded='true'] {
            .toggle__trigger-icon {
                &:before {
                    content: '-';
                }
            }
        }

        &:hover,
        &:focus {
            color: $color_blue;
        }

        &-text {
            pointer-events: none;
        }

        &-icon {
            display: block;
            background: transparent;
            position: absolute;
            top: 50%;
            transform: translateY(-50%);
            left: initial;
            right: 50px;
            width: 30px;
            height: 16px;
            transition: transform 0.3s ease-in-out;
            pointer-events: none;
            @media (max-width: $breakpoint_tablet_medium_portrait) {
                right: 0;
            }

            &:before {
                content: '+';
                font-size: 24px;
                position: absolute;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%);
            }
        }
    }

    &__box {
        overflow: hidden;
        padding-bottom: 45px;
        padding-left: 50px;
        padding-right: 50px;
        em {
            strong {
                color: $color_blue !important;
            }
        }
        @media (max-width: $breakpoint_tablet_medium_portrait) {
            padding-left: 0;
            padding-right: 0;
        }
    }
}
