section.video-full-width,
aside.video-full-width,
div.video-full-width {
    text-align: center;

    h2 {
        color: #fff;
    }

    a.popup-video {
        display: inline-block;
        width: 72px;
        height: 72px;
        background-color: transparent;
        background-image: url('views/global/widgets/video-player/assets/images/icons/play-icon.svg');
        background-size: contain;
        background-repeat: no-repeat;
    }
}
