section.gallery-list[data-layout='masonry'],
aside.gallery-list[data-layout='masonry'],
div.gallery-list[data-layout='masonry'] {
    //

    ul.galleries {
        column-count: 3;
        column-gap: $global_gap_between_columns_small;

        @media screen and (max-width: $breakpoint_tablet_medium_landscape) {
            column-count: 2;
        }

        @media screen and (max-width: $breakpoint_before_mobile_large) {
            column-count: 1;
        }

        > li {
            //

            + li {
                //match with column-gap above:
                margin-top: $global_gap_between_columns_small;
            }

            > article > a {
                position: relative;

                span.text-wrapper {
                    position: absolute;
                    top: 0;
                    left: 0;
                    width: 100%;
                    height: 100%;
                    z-index: 1;
                    opacity: 0;

                    &:before {
                        content: '';
                        position: absolute;
                        top: 0;
                        left: 0;
                        width: 100%;
                        height: 100%;
                        background-color: rgba(0, 0, 0, 0.7);
                        z-index: -1;
                    }

                    transition: opacity $global_transition_duration ease-in-out;

                    h3 {
                        width: 100%;
                        text-align: center;
                    }
                }

                &:hover,
                &:focus {
                    //

                    span.text-wrapper {
                        opacity: 1;
                    }
                }
            }
        }
    }
}
