section.gallery-list[data-layout='featured'],
aside.gallery-list[data-layout='featured'],
div.gallery-list[data-layout='featured'] {
    //

    figure.featured-gallery-slide {
        display: flex;
        width: 100%;
        height: 465px;
        position: relative;

        a {
            width: 100%;

            &:hover,
            &:focus {
                //
            }
        }

        img {
            display: block;
            width: 100%;
            height: 100%;
            object-fit: cover;
            object-position: center;
        }
    }

    //any adjustments needed for the arrows will be made here:
    div[id*='append-arrows'] {
        //
    }

    //any module-specific adjustments needed for the dots will be made here:
    div[id*='append-dots'] {
        //
    }
}
