section.gallery-list[data-layout='cards'],
aside.gallery-list[data-layout='cards'],
div.gallery-list[data-layout='cards'] {
    //

    ul.galleries > li > article > a {
        position: relative;

        span.text-wrapper {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            z-index: 1;
            opacity: 0;

            &:before {
                content: '';
                position: absolute;
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
                background-color: rgba(0, 0, 0, 0.7);
                z-index: -1;
            }

            transition: opacity $global_transition_duration ease-in-out;

            h3 {
                width: 100%;
                text-align: center;
            }
        }

        &:hover,
        &:focus {
            //

            span.text-wrapper {
                opacity: 1;
            }
        }

        figure {
            display: flex;
            height: 350px;
            width: 100%;

            img {
                display: block;
                width: 100%;
                height: 100%;
                object-fit: cover;
                object-position: center;
            }
        }
    }
}
