form#resource-filters {
    margin: 0 0 0 auto;

    @media screen and (max-width: $breakpoint_tablet_medium_landscape) {
        margin: 24px 0 0;
        width: 100%;
    }

    ul.form-fields {
        position: relative;
        column-gap: 2%;

        li {
            position: relative;
            width: 31%;

            @media screen and (max-width: $breakpoint_tablet_medium_portrait) {
                width: 100%;

                + li {
                    margin-top: $global_list_item_bottom_margin;
                }
            }

            input,
            select,
            button {
                display: inline-block;
                width: 200px;
                max-width: 100%;
                padding: 0;
                margin: 0;
                border: none;
                background-color: $color_white_alt; //temporary

                @media screen and (max-width: $breakpoint_tablet_medium_portrait) {
                    width: 100%;
                }
            }

            //typically we want to override the browser's default arrow styling, & you have to do a strange work-around to accomplish this:
            &.resource-category-filter {
                &:after {
                    content: '';
                    position: absolute;
                    top: 50%;
                    right: 0;
                    width: 24px;
                    height: calc(100% - 5px);
                    transform: translateY(-50%);
                    background-image: url('library/custom-theme/images/icons/chevron-down.svg');
                    background-repeat: no-repeat;
                    background-size: 20px;
                    background-position-y: 8px;
                    background-color: $color_white_alt; //temporary, make this match the background of the <select>
                    pointer-events: none;
                }

                //In case the design calls for an 'active' state
                &:has(select:focus):after,
                &:has(button#tags-filter-toggle[aria-expanded='true']):after {
                    //transform: translateY(-50%)rotate(180deg);
                }
            }

            &.resource-filter-clear {
                position: absolute;
                top: 100%;
                right: 0;
                width: auto;
            }
        }
    }
}
