section.locations-map-cards,
div.locations-map-cards,
aside.locations-map-cards {
    //

    .column.map {
        position: relative;
        margin-bottom: 48px;

        #map-module {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;

            @media screen and (max-width: $breakpoint_tablet_medium_portrait) {
                position: relative;
                height: 400px;
            }
        }

        > a.button.all-locations {
            position: absolute;
            top: 100%;
            left: 0;
            width: 100%;

            @media screen and (max-width: $breakpoint_tablet_medium_portrait) {
                position: relative;
            }
        }
    }

    .column.cards ul.cards-list {
        //

        li {
            width: calc(50% - calc($global_gap_between_columns_large / 2));

            @media screen and (max-width: $breakpoint_tablet_medium_landscape) {
                width: 100%;
            }

            span {
                display: block;
            }
        }
    }
}
