nav#toggled-nav div.menu-wrap > ul > li.has-sub-menu {
    position: relative;

    //essential 'dropdown' sub-menu style rules:
    &[data-sub-menu-style='dropdown'] > button.sub-menu-toggle {
        border: none;
        box-shadow: none;
        padding: 0;
        position: absolute;
        display: block;
        top: 0;
        right: 0;
        width: 32px;
        height: 32px;

        > span.icon {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            pointer-events: none;

            &:before {
                content: '';
                position: absolute;
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
                background-image: url('library/custom-theme/images/icons/sub-menu-toggle-open.svg');
                background-position: center;
                background-size: 24px;
                background-repeat: no-repeat;
                pointer-events: none;

                opacity: 1;
            }

            &:after {
                content: '';
                position: absolute;
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
                background-image: url('library/custom-theme/images/icons/sub-menu-toggle-close.svg');
                background-position: center;
                background-size: 24px;
                background-repeat: no-repeat;
                pointer-events: none;

                opacity: 0;
            }
        }

        > span.accessible-text {
            @extend .visually-hidden;
        }

        &[aria-expanded='true'] > span.icon:before {
            opacity: 0;
        }

        &[aria-expanded='true'] > span.icon:after {
            opacity: 1;
        }
    }

    &[data-sub-menu-style='dropdown']
        > ul.toggled-sub-menu[aria-hidden='true'] {
        visibility: hidden;

        @extend .visually-hidden;
    }

    //essential 'paginated' sub-menu style rules:
    &[data-sub-menu-style='paginated'] > button.sub-menu-toggle {
        border: none;
        box-shadow: none;
        padding: 0;
        position: absolute;
        display: block;
        top: 0;
        right: 0;
        width: 32px;
        height: 32px;

        > span.icon {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            pointer-events: none;

            &:before {
                content: '';
                position: absolute;
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
                background-image: url('library/custom-theme/images/icons/chevron-right.svg');
                background-position: center;
                background-size: 12px;
                background-repeat: no-repeat;
                pointer-events: none;

                opacity: 1;
            }
        }

        > span.accessible-text {
            @extend .visually-hidden;
        }
    }

    &[data-sub-menu-style='paginated'] > ul.toggled-sub-menu {
        position: fixed;
        top: 0;
        right: 0;
        width: 100%;
        height: 100%;

        transition: transform 0.3s ease-in-out;

        &[aria-hidden='true'] {
            transform: translateX(100%);
        }

        &[data-level='2'] {
            z-index: 2;
        }

        &[data-level='3'] {
            z-index: 3;
        }

        &[data-level='4'] {
            z-index: 4;
        }

        //I doubt we'll ever reach this point, or exceed it
        &[data-level='5'] {
            z-index: 5;
        }

        > li.breadcrumb-item {
            //

            > button.sub-menu-back {
                background-color: transparent;
                padding: 0 0 0 32px;
                border: none;
                position: relative;

                span.icon {
                    position: absolute;
                    top: 0;
                    left: 0;
                    width: 24px;
                    height: 24px;

                    &:before {
                        content: '';
                        position: absolute;
                        top: 0;
                        left: 0;
                        width: 100%;
                        height: 100%;
                        background-image: url('library/custom-theme/images/icons/chevron-left.svg');
                        background-size: 12px;
                        background-position: center;
                        background-repeat: no-repeat;
                    }
                }
            }
        }
    }

    > ul > li + li {
        margin: 0;
    }
}
