//button that opens the menu
button#menu-toggle-trigger {
    display: inline-block;
    background-color: transparent;
    border: none;
    box-shadow: none;
    padding: 0;
    margin: 0 0 0 24px;
    width: 32px;
    height: 24px;
    position: relative;

    &:hover,
    &:focus {
        //
    }

    span.button-bars {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        pointer-events: none; //necessary for toggled-menu.js to work

        span.bar {
            position: absolute;
            width: 100%;
            height: 5px;
            left: 50%;
            transform: translateX(-50%);
            background-color: $color-black;
            pointer-events: none; //necessary for toggled-menu.js to work

            &.top {
                top: 0;
            }

            &.middle {
                top: 50%;
                transform: translate(-50%, -50%);
            }

            &.bottom {
                top: auto;
                bottom: 0;
            }
        }
    }

    //'open' menu toggle button styling:
    &[aria-expanded='true'] span.button-bars span.bar.top {
        top: 50%;
        transform: translate(-50%, -50%) rotate(45deg);
    }

    &[aria-expanded='true'] span.button-bars span.bar.middle {
        display: none;
    }

    &[aria-expanded='true'] span.button-bars span.bar.bottom {
        bottom: auto;
        top: 50%;
        transform: translate(-50%, -50%) rotate(-45deg);
    }
}

//the outer menu wrap
nav#toggled-nav {
    position: fixed;
    top: rem(var(--header-height-with-adminbar));
    right: 0;
    width: 100%;
    height: calc(100% - var(--header-height-with-adminbar));
    max-width: 100%;
    max-height: 10000px;
    visibility: visible;
    opacity: 1;
    display: flex;
    justify-content: flex-end;

    transition: opacity 0.3s ease-in-out;

    //state & rules that hide the menu:
    &[aria-hidden='true'] {
        max-width: 1px;
        max-height: 1px;
        pointer-events: none;
        visibility: hidden;
        opacity: 0;

        > div.menu-wrap {
            padding: 0;
            transform: translateX(100%);
        }

        button#close-toggled-menu {
            display: none;
            pointer-events: none;
        }
    }

    //the inner menu 'window'
    > div.menu-wrap {
        background-color: #fff;
        width: 450px;
        max-width: 100%;
        transform: translateX(0%);

        transition: transform 0.3s ease-in-out;

        @media screen and (max-width: $breakpoint_before_mobile_large) {
            width: 100%;
        }

        ul > li + li,
        ul > li > ul > li + li {
            margin: 0;
        }

        //the optional search bar:
        form.custom-theme-search {
            //
        }

        @media screen and (max-width: $breakpoint_before_mobile_large) {
            ul.toggled-menu-desktop-primary,
            ul.toggled-menu-desktop-secondary {
                display: none;
            }
        }

        //the toggled mobile conglomerate menu:
        ul.mobile-menu {
            display: none;

            @media screen and (max-width: $breakpoint_before_mobile_large) {
                display: block;
            }
        }
    }

    //button that closes the menu
    button#close-toggled-menu {
        display: block;
        pointer-events: all;
        position: absolute;
        top: 0;
        right: 0;
        width: 100%;
        height: 100%;
        background-color: rgba(0, 0, 0, 0.7);
        border: none;
        box-shadow: none;
        padding: 0;
        margin: 0;

        z-index: -1;
    }
}
