@keyframes bouncy {
    0% {
        transform: scale(0);
    }
    50% {
        transform: scale(1.03);
    }
    75% {
        transform: scale(0.97);
    }
    100% {
        transform: scale(1);
    }
}

@keyframes fadeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@keyframes fadeInRight {
    0% {
        opacity: 0;
        transform: translateX(20px);
    }
    100% {
        opacity: 1;
        transform: translateX(0);
    }
}

@keyframes color-wheel {
    0% {
        background: #ed1c24;
    }
    15% {
        background: #fff200;
    }
    30% {
        background: #00a651;
    }
    45% {
        background: #00aeef;
    }
    60% {
        background: #0054a6;
    }
    75% {
        background: #662d91;
    }
    100% {
        background: #ec008c;
    }
}

@keyframes rotato {
    0% {
        transform: rotateY(0deg) scale(1);
    }

    25% {
        transform: rotateY(180deg) scale(1.4);
    }

    50% {
        transform: rotateY(360deg) scale(0.8);
    }

    75% {
        transform: rotateY(180deg) scale(1.4);
    }

    100% {
        transform: rotateY(0deg) scale(1);
    }
}

@keyframes bannerButton {
    0% {
        bottom: -50px;
    }

    100% {
        bottom: 0;
    }
} 