html {
    font-size: 62.5%; //10px browser default
}
body {
    color: $color-black-alt;
    font-family: 'Open Sans', sans-serif;
    font-size: 18px;
    font-weight: 400;
    line-height: 1.5;
}

a {
    text-decoration: none;

    &:hover,
    &:focus {
        //
    }

    //ensures phone numbers never break into a new line
    &[href^='tel:'] {
        white-space: nowrap;
    }

    img {
        vertical-align: bottom;
    }
}

p {
    margin: 0;
    padding: 0;

    + p,
    + ol,
    + ul,
    + address,
    + h2,
    + .h2,
    + h3,
    + .h3,
    + h4,
    + .h4,
    + h5,
    + .h5,
    + h6,
    + .h6,
    + a,
    + a.button,
    + img,
    + picture {
        margin-top: $global_paragraph_bottom_margin;
    }
}

// Selection colours
::selection {
    background-color: $color-black-alt;
    color: #fff;
}
::-moz-selection {
    background-color: $color-black-alt;
    color: #fff;
}

img::selection {
    background-color: transparent;
}
img::-moz-selection {
    background-color: transparent;
}

body {
    -webkit-tap-highlight-color: $color-black-alt;
}

//white text
.white-text {
    color: #fff;

    h1,
    .h1,
    h2,
    .h2,
    h3,
    .h3,
    h4,
    .h4,
    h5,
    .h5,
    h6,
    .h6,
    p,
    ol li,
    ul li {
        color: #fff;

        a:not(.button) {
            color: #fff;

            &:hover,
            &:focus {
                color: $color-black;
            }
        }
    }
}

strong {
    font-weight: 700;
}
