button.button,
button.content-limiter-expander,
input[type='button'],
input[type='reset'],
input[type='submit'],
.button {
    width: auto;
    cursor: pointer;
    background-color: $color_red;
    padding: 12px 20px;
    padding-right: 40px;
    border: none;
    border-radius: none;
    box-shadow: none;
    margin: 0;
    padding: 0;
    transform-style: preserve-3d;
    font-family: 'Open Sans' sans-serif;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    color: $color_white;

    &::after {
        content: '';
        background: url() no-repeat center;
        background-size: contain;
        width: 14px;
        height: 14px;
        position: absolute;
        top: 50%;
        right: 20px;
        transform: translateY(-50%);
    }

    &:hover,
    &:focus {
        //
        &::after {
            right: 12px;
        }
    }
}

.button {
    display: inline-block;

    &--clear {
        background: transparent;
        border: none;
        padding: 0;
    }
}

.center-button {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

p.centered-button {
    text-align: center;
}

// Hide button mobile text on desktops
.mobile-text {
    display: none;

    @media (max-width: $breakpoint_tablet_medium_portrait) {
        display: block;
    }
}

// Hide button desktop text on mobile
.mobile-text + .text-wrap {
    @media (max-width: $breakpoint_tablet_medium_portrait) {
        display: none;
    }
}

/* Typographical Transitions
--------------------------------------------- */

a,
button,
input:focus,
input[type='button'],
input[type='reset'],
input[type='submit'],
textarea:focus,
.button {
    transition: color 0.3s ease-in-out, background 0.3s ease-in-out;
}
