// Forms

// note: .button includes input[type="submit"], watch for styles that need to be overridden one way or the other
input,
select,
textarea {
    //
}

input:focus,
textarea:focus {
    //
}

input[type='checkbox'],
input[type='radio'] {
    width: auto;
}

input[type='number'] {
    -moz-appearance: textfield;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
}

input[type='search']::-webkit-search-cancel-button,
input[type='search']::-webkit-search-results-button {
    display: none;
}

.select-wrap,
.ginput_container_select {
    position: relative;
}

.placeholder {
    color: #000;
    opacity: 0.7;
    font-weight: 300;
    text-transform: normal;
}

::-moz-placeholder {
    color: #000;
    opacity: 0.7;
    font-weight: 300;
    text-transform: normal;
}

::-webkit-input-placeholder {
    color: #000;
    opacity: 0.7;
    font-weight: 300;
    text-transform: normal;
}

:-ms-input-placeholder {
    color: #909090;
    opacity: 1;
    font-weight: 300;
    text-transform: normal;
}

::-ms-input-placeholder {
    color: #909090;
    opacity: 1;
    font-weight: 300;
    text-transform: normal;
}

div.gform_confirmation_message {
    text-align: center;
    font-weight: 700;
    font-size: 24px;
}
