h1,
.h1,
h2,
.h2,
h3,
.h3,
h4,
.h4,
h5,
.h5,
h6,
.h6 {
    font-family: 'Open Sans', sans-serif;
    font-weight: 700;
    line-height: 1;
    margin: 0; //to counteract browser defaults

    @media (min-width: $breakpoint_before_mobile_large) {
        //
    }
    @media (min-width: $breakpoint_tablet_medium_portrait) {
        //
    }
}

h1,
.h1 {
    color: $color_red;
    font-family: 'Open Sans', sans-serif;
    font-style: normal;
    font-weight: 800;
    line-height: normal;

    font-size: 40px;

    @media (min-width: $breakpoint_before_mobile_large) {
        font-size: 48px;
    }
    @media (min-width: $breakpoint_tablet_medium_portrait) {
        font-size: 64px;
    }

    //set spacing between bottom of our heading and top of next sibling node:
    + p,
    + ol,
    + ul,
    + article,
    + address,
    + form,
    + time,
    + h2,
    + .h2,
    + h3,
    + .h3,
    + h4,
    + .h4,
    + h5,
    + .h5,
    + h6,
    + .h6,
    + a,
    + a.button,
    + img,
    + picture {
        margin-top: $global_h1_bottom_margin;
    }
}

h2,
.h2 {
    color: $color_black;
    font-family: 'Open Sans', sans-serif;
    font-style: normal;
    font-weight: 800;
    line-height: 58px; /* 134.884% */
    letter-spacing: -0.86px;

    font-size: 29px;

    @media (min-width: $breakpoint_before_mobile_large) {
        font-size: 35px;
    }
    @media (min-width: $breakpoint_tablet_medium_portrait) {
        font-size: 43px;
    }

    //set spacing between bottom of our heading and top of next sibling node:
    + p,
    + ol,
    + ul,
    + article,
    + address,
    + form,
    + time,
    + h2,
    + .h2,
    + h3,
    + .h3,
    + h4,
    + .h4,
    + h5,
    + .h5,
    + h6,
    + .h6,
    + a,
    + a.button,
    + img,
    + picture {
        margin-top: $global_h2_bottom_margin;
    }
}

h3,
.h3 {
    color: $color_red;
    font-family: 'Open Sans';
    font-size: 27px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;

    @media (min-width: $breakpoint_before_mobile_large) {
        font-size: 30px;
    }

    //set spacing between bottom of our heading and top of next sibling node:
    + p,
    + ol,
    + ul,
    + article,
    + address,
    + form,
    + time,
    + h2,
    + .h2,
    + h3,
    + .h3,
    + h4,
    + .h4,
    + h5,
    + .h5,
    + h6,
    + .h6,
    + a,
    + a.button,
    + img,
    + picture {
        margin-top: $global_h3_bottom_margin;
    }
}

h4,
.h4 {
    font-family: 'Open Sans', sans-serif;
    color: $color-black;
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    letter-spacing: 0.72px;
    text-transform: uppercase;

    //set spacing between bottom of our heading and top of next sibling node:
    + p,
    + ol,
    + ul,
    + article,
    + address,
    + form,
    + time,
    + h2,
    + .h2,
    + h3,
    + .h3,
    + h4,
    + .h4,
    + h5,
    + .h5,
    + h6,
    + .h6,
    + a,
    + a.button,
    + img,
    + picture {
        margin-top: $global_h4_bottom_margin;
    }
}

h5,
.h5 {
    font-size: 18px;

    //set spacing between bottom of our heading and top of next sibling node:
    + p,
    + ol,
    + ul,
    + article,
    + address,
    + form,
    + time,
    + h2,
    + .h2,
    + h3,
    + .h3,
    + h4,
    + .h4,
    + h5,
    + .h5,
    + h6,
    + .h6,
    + a,
    + a.button,
    + img,
    + picture {
        margin-top: $global_h5_bottom_margin;
    }
}

h6,
.h6 {
    font-size: 16px;

    //set spacing between bottom of our heading and top of next sibling node:
    + p,
    + ol,
    + ul,
    + article,
    + address,
    + form,
    + time,
    + h2,
    + .h2,
    + h3,
    + .h3,
    + h4,
    + .h4,
    + h5,
    + .h5,
    + h6,
    + .h6,
    + a,
    + a.button,
    + img,
    + picture {
        margin-top: $global_h6_bottom_margin;
    }
}
