.team-member-single {
    .breadcrumbs-row {
    }
    .team-member-details {
        .team-member-profile {
        }
        .team-member-image-and-bio {
            .team-member-image {
                img {
                    width: 100%;
                    height: auto;
                }
            }
            .team-member-bio {
            }
        }
    }
}
