button.button,
button.content-limiter-expander,
input[type='button'],
input[type='reset'],
input[type='submit'],
.button {
    text-transform: uppercase;
    color: $color_grey_dark_mandr;
    border: solid 2px $color_yellow_mandr;
    padding: 8px 24px;

    &:hover,
    &:focus {
        background-color: $color_yellow_mandr;
    }
}

section.yellow-background,
div.yellow-background,
aside.yellow-background {
    //

    button.button,
    button.content-limiter-expander,
    input[type='button'],
    input[type='reset'],
    input[type='submit'],
    .button {
        border: solid 2px $color_grey_dark_mandr;

        &:hover,
        &:focus {
            background-color: $color_grey_dark_mandr;
            color: #fff;
        }
    }
}
