$color_yellow_mandr: #fedb00;
$color_grey_light_mandr: #f5f5f5;
$color_grey_border_mandr: #d2d2d2;
$color_grey_border_dark_mandr: #707070;
$color_grey_med_mandr: #737373;
$color_grey_dark_mandr: #404040;
$color_grey_cool_mandr: #647882;
$color_navy_mandr: #384f5a;
$color_red_mandr: #e1523d;
$color_teal_mandr: #36b5b5;
$color_green_mandr: #1db236;
