section.media-gallery[data-layout='carousel'],
aside.media-gallery[data-layout='carousel'],
div.media-gallery[data-layout='carousel'] {
    //

    figure.main-slide {
        display: flex;
        //we're using a CSS variable to pass the height of the registered image size that's applied to a slde. This allows for easier customazation on the code side of this. flex is used to make it easier for the nested a

        &.main-slide {
            height: var(--main-slide-height);
        }

        //if it's a video slide:
        > a.popup-video {
            width: 100%;
        }

        img {
            width: 100%;
            height: 100%;
            position: relative;
            object-fit: cover;
            object-position: center;
        }
    }

    div[id*='slider-thumbnails'] {
        list-style-type: none;

        @media screen and (max-width: $breakpoint_tablet_medium_portrait) {
            display: none;
        }

        div.slick-list {
            margin: 0 -16px;
            overflow: hidden;
        }

        div.thumbnail-slide {
            padding: 0;
            height: var(--thumbnail-slide-height);
            margin: 0 16px;

            &:before {
                display: none;
            }

            > button {
                margin: 0;
                padding: 0;
                border: none;
                background-size: cover;
                background-position: center;
                width: 100%;
                height: 100%;
                position: relative;
                object-fit: cover;
                object-position: center;
            }
        }
    }
}
