section.media-gallery[data-layout='masonry'],
aside.media-gallery[data-layout='masonry'],
div.media-gallery[data-layout='masonry'] {
    //

    ul.gallery-thumbnails {
        column-count: 3;
        column-gap: $global_gap_between_columns_small;

        @media screen and (max-width: $breakpoint_tablet_medium_landscape) {
            column-count: 2;
        }

        @media screen and (max-width: $breakpoint_before_mobile_large) {
            column-count: 1;
        }

        > li {
            //

            + li {
                //match with column-gap above:
                margin-top: $global_gap_between_columns_small;
            }

            button.masonry-slide-thumbnail {
                position: relative;
                background-size: cover;

                //just need the image tags for accessibility & as placeholders for width & height:
                > img {
                    opacity: 0;
                }

                &:hover,
                &:focus {
                    span.play-icon:before {
                        opacity: 0.6;
                    }
                }

                //on mobile, we're not using the modal lightbox functionality:
                &[data-media-type='image'] {
                    @media screen and (max-width: $breakpoint_before_mobile_large) {
                        pointer-events: none;
                    }
                }

                //and we're opting to display direct links to the video(s) on their respective platforms:
                &[data-media-type='video'] {
                    @media screen and (max-width: $breakpoint_before_mobile_large) {
                        display: none;
                    }
                }
            }

            //on mobile, we're not using the modal lightbox functionality:
            a.popup-video {
                display: none;
                position: relative;

                @media screen and (max-width: $breakpoint_before_mobile_large) {
                    display: block;
                }
            }

            span.play-icon {
                display: block;
                position: absolute;
                color: transparent;
                overflow: hidden;
                z-index: 2;
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;

                &:before {
                    content: '';
                    position: absolute;
                    top: 0;
                    left: 0;
                    width: 100%;
                    height: 100%;
                    background-color: $color_black;
                    z-index: 1;

                    opacity: 0.8;

                    transition: all $global_transition_duration ease-out;
                }

                &:after {
                    content: '';
                    position: absolute;
                    top: 50%;
                    left: 50%;
                    transform: translate(-50%, -50%);
                    width: 72px;
                    height: 72px;
                    background-image: url('views/global/widgets/video-player/assets/images/icons/play-icon.svg');
                    background-size: contain;
                    background-repeat: no-repeat;
                    z-index: 2;
                }

                //This may be overkill, & forgive how 'hacky' this is, but only we need span.play-icon to have pointer events, but we want to prevent any of its child elements from having them:
                * {
                    pointer-events: none;
                }
            }
        }
    }

    .modal-gallery {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        z-index: 999999;

        //on mobile, we're not using the modal lightbox functionality:
        @media screen and (max-width: $breakpoint_before_mobile_large) {
            display: none;
        }

        &[aria-hidden='true'] {
            position: relative;
            width: 1px;
            height: 1px;
            overflow: hidden;
            pointer-events: none;
            opacity: 0;
            z-index: -1;

            div[id*='append-arrows']:has(
                    [class*='-settings'][data-arrows-position='edges']
                )
                button {
                pointer-events: none;
            }
        }

        .slider-wrap {
            //normally I would use our container system for something like this, but for the purposes of the media gallery & how we have to deal with video <iframe> height, I'm opting for styling specifically for this feature:
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            width: 100%;
            max-width: $global_container_width_standard;
            max-height: 80%;
            padding: 0 5%;
            z-index: 2;
            overflow: hidden;
            pointer-events: none;

            @media screen and (max-width: $breakpoint_tablet_medium_portrait) {
                padding: 0 $global_module_padding_double;
            }

            .slick-list {
                margin: 0;
            }

            .slick-track {
                display: flex;
                align-items: center;
                //JavaScript is used to restrict the height of this element to 80% of the viewport height, & the slides inherit this. This is to correct for insanely tall image usage.
            }

            figure.masonry-slide {
                position: relative;
                pointer-events: all;
                display: flex;
                align-items: center;
                margin: 0;

                > img {
                    width: 100%;
                }

                iframe,
                > div {
                    width: 100%;
                    height: 100%;
                    min-height: 500px;
                }
            }
        }
    }

    div[id*='append-arrows']:has(
            [class*='-settings'][data-arrows-position='edges']
        ) {
        width: 90%;

        //need to override the default mobile styling:
        @media screen and (max-width: $breakpoint_tablet_medium_portrait) {
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            display: flex;
            text-align: initial;
        }
    }

    &[data-modal-open='true'] button.modal-close {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: rgba(0, 0, 0, 0.8);
        z-index: 1;
    }
}
