section.media-gallery,
aside.media-gallery,
div.media-gallery {
    //

    &[data-modal-open='true'] {
        position: relative;
        z-index: 9;
    }
}

@import 'carousel-layout';
@import 'masonry-layout';
