section.project-list[data-layout='carousel'],
aside.project-list[data-layout='carousel'],
div.project-list[data-layout='carousel'] {
    //

    .project-slide {
        //

        figure {
            display: flex;
            height: 350px;
            width: 100%;

            a {
                width: 100%;

                &:hover,
                &:focus {
                    //
                }

                img {
                    display: block;
                    width: 100%;
                    height: 100%;
                    object-fit: cover;
                    object-position: center;
                }
            }
        }
    }

    //any module-specific adjustments needed for the arrows will be made here:
    div[id*='append-arrows'] {
        //
    }

    //any module-specific adjustments needed for the dots will be made here:
    div[id*='append-dots'] {
        //
    }
}
