section.project-list,
aside.project-list,
div.project-list {
    //

    div.title-all-button-row a.button {
        margin: 0 0 0 auto;
    }
}

@import 'project-list-carousel';
@import 'project-list-full-width';
@import 'project-list-featured';
