section.blog-post-list,
aside.blog-post-list,
div.blog-post-list {
    //push the 'View All' button to the right (desktop view)
    div.title-view-all-row .container a.button {
        margin: 0 0 0 auto;
    }

    &[data-layout='featured'] {
        //

        @media screen and (max-width: $breakpoint_tablet_medium_landscape) {
            div.articles-row {
                flex-wrap: wrap;

                div.featured-article-column + div.other-articles-column {
                    margin-top: $global_gap_between_rows_large;
                }
            }
        }
    }

    &[data-layout='cards'] {
        //

        ul.articles-list > li {
            //

            > article {
                min-height: 100%;
            }

            + li {
                margin-top: 0;
            }
        }
    }

    article[data-card-style='overlay'] {
        position: relative;
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        color: white;

        &:before {
            content: '';
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background-color: $color_black;

            opacity: 0.7;
        }
    }
}
