body.home header.title-area[data-background-type='slider'],
body.page-category-secondary-homepage
    header.title-area[data-background-type='slider'] {
    //

    div.content-row {
        z-index: 2;
    }

    &[data-slider-type='slide-images-static-content'] {
        //

        div.image-slider-row {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;

            picture.image-slide {
                display: flex;
                position: relative;
                min-height: 720px; //this just needs to exceed the height of the div.content-row

                > img {
                    position: absolute;
                    top: 50%;
                    left: 50%;
                    transform: translate(-50%, -50%);
                    object-fit: cover;
                    min-width: 100%;
                    min-height: 100%;
                }
            }
        }

        div.content-row,
        div.arrows-row,
        div.dots-row {
            z-index: 2;
        }

        div.arrows-row {
            margin-top: 0;
        }

        div.dots-row {
            //to match the ~.row + ~.row padding
            padding-bottom: $global_margin_between_content_rows;

            @media screen and (max-width: $breakpoint_tablet_medium_portrait) {
                padding-bottom: $global_margin_between_content_rows_responsive;
            }
        }
    }

    &[data-slider-type='slide-content-static-image'] {
        //

        div.content-slider-row,
        div.arrows-row,
        div.dots-row {
            z-index: 2;
        }

        //enforce uniform height of content slides, because the content height itself will often vary:
        div.content-slider-row div.slick-track,
        div.content-slider-row div.slick-track div.content-slide {
            display: flex;
        }

        //exception for a particular style of arrow position:
        div.arrows-row:has(
                span.container-settings[data-arrows-position='edges']
            ) {
            margin-top: 0;
        }
    }

    &[data-slider-type='slide-images-and-content'] {
        //

        div.image-slider-row {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;

            picture.image-slide {
                display: flex;
                position: relative;
                min-height: 720px; //this just needs to exceed the height of the div.content-row

                > img {
                    position: absolute;
                    top: 50%;
                    left: 50%;
                    transform: translate(-50%, -50%);
                    object-fit: cover;
                    min-width: 100%;
                    min-height: 100%;
                }
            }
        }

        div.content-slider-row,
        div.arrows-row,
        div.dots-row {
            z-index: 2;
        }

        div.arrows-row {
            margin-top: 0;
        }

        div.dots-row {
            //to match the ~.row + ~.row padding
            padding-bottom: $global_margin_between_content_rows;

            @media screen and (max-width: $breakpoint_tablet_medium_portrait) {
                padding-bottom: $global_margin_between_content_rows_responsive;
            }
        }
    }
}
