body.home header.title-area,
body.page-category-secondary-homepage header.title-area {
    position: relative;
    overflow: hidden;

    span.overlay {
        // Overlay styles
        position: absolute;
        top: 0;
        left: 0;
        height: 100%;
        width: 100%;
        pointer-events: none;
        z-index: 1;
    }
}

@import 'image-layout';
@import 'video-layout';
@import 'slider-layout';
