body.home header.title-area[data-background-type='video'],
body.page-category-secondary-homepage
    header.title-area[data-background-type='video'] {
    min-height: 720px;

    @media screen and (max-width: $breakpoint_tablet_medium_landscape) {
        min-height: auto;
    }

    div.background {
        position: absolute;
        top: 0;
        left: 50%;
        width: 100%;
        height: 100%;
        transform: translateX(-50%);

        iframe {
            width: 100%;
            height: 100%;
            pointer-events: none;
        }

        //we need to make a fixed height exception for YouTube iframes
        &[data-video-platform='youtube'] iframe {
            min-height: 1080px;

            @media screen and (min-width: $breakpoint_desktop_standard) {
                min-height: 1440px;
            }
        }

        //specific to Vimeo embed code:
        &[data-video-platform='vimeo'] > div {
            width: 100%;
            height: 100%;
        }

        @media screen and (min-width: $breakpoint_desktop_standard) {
            min-width: 2560px;
        }

        @media screen and (max-width: $breakpoint_laptop_small) {
            min-width: 1920px;
        }

        //if a mobile fallback image is used:
        &[data-mobile-image='true'] {
            //

            picture {
                width: 100%;

                img {
                    display: block;
                    width: 100%;
                }
            }

            iframe {
                //

                @media screen and (max-width: $breakpoint_tablet_medium_portrait) {
                    display: none;
                }
            }

            //responsive exception needed for Vimeo embed code:
            &[data-video-platform='vimeo'] > div {
                @media screen and (max-width: $breakpoint_tablet_medium_portrait) {
                    display: none;
                }
            }
        }
    }

    div.content-row {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        z-index: 2;

        div.content {
            //temporary styles set up in library/mandr/mandr-style.css
        }

        @media screen and (max-width: $breakpoint_tablet_medium_landscape) {
            position: relative;
            padding: $global_module_padding_double 0;
        }

        @media screen and (max-width: $breakpoint_before_mobile_large) {
            padding: $global_module_padding_single 0;
        }
    }
}
