main > header,
main > section,
main > div,
main > aside,
main > nav,
main > dialog,
article > header,
article > section,
article > div,
article > aside,
article > nav,
article > dialog,
footer {
    position: relative;
    z-index: 1;

    //we position this <span> like this just in case the background option gets used
    span.module-settings,
    span.container-settings,
    span.column-settings {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        pointer-events: none;
        z-index: -1;

        //background settings:
        span.background {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background-repeat: no-repeat;

            &[data-background-image-position='center'] {
                background-position: center;
                background-size: cover;
            }

            &[data-background-image-position='left'] {
                background-position: left;
            }

            &[data-background-image-position='right'] {
                background-position: right;
            }

            &[data-background-image-position='top'] {
                background-position: top;
                background-size: cover;
            }

            &[data-background-image-position='bottom'] {
                background-position: bottom;
                background-size: cover;
            }

            &[data-background-overlay='true']:before {
                content: '';
                position: absolute;
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
                background-color: var(--overlay-color);
            }
        }
    }
}
