section.gallery-list,
aside.gallery-list,
div.gallery-list {
    //

    ul.galleries > li > article > figure {
        display: flex;
        height: 350px;
        width: 100%;

        a {
            width: 100%;

            &:hover,
            &:focus {
                //
            }

            img {
                display: block;
                width: 100%;
                height: 100%;
                object-fit: cover;
                object-position: center;
            }
        }
    }
}
