//On the typical site, you're going to be using only a couple primary colors with black, white, & grey. Those primary colors are likely going to have less than 5 shades each, ranging from lightest to darkest. Sometimes, you have the same color but 2 different shades, in which case we use: $color_name_alt
$color_red: #c41230;
$color_red_dark: #810018;

//Black
$color_black: #000000;
$color_black_alt: #404040;

//White
$color_white: #ffffff;
$color_white_alt: #f5f5f5;

$color_grey: #d9d9d9;
