//On the typical site, you're going to be using only a couple primary colors with black, white, & grey. Those primary colors are likely going to have less than 5 shades each, ranging from lightest to darkest. Sometimes, you have the same color but 2 different shades, in which case we use: $color_name_alt


//Red
$color_red_lightest : #ffb7b7;
$color_red_light : #ff8686; 
$color_red_med : #ff0000;
$color_red_dark : #680000;
$color_red_darkest : #360000;

$color_red : $color_red_med;
$color_red_alt : #b72f2f;


//Orange
$color_orange_lightest : #ffd7a2;
$color_orange_light : #ffb658; 
$color_orange_med : #ff9000;
$color_orange_dark : #bc6a00;
$color_orange_darkest : #593200;

$color_orange : $color_orange_med;
$color_orange_alt : #d09447;


//Yellow
$color_yellow_lightest : #FFFACD;
$color_yellow_light : #fffd62; 
$color_yellow_med : #fffc00;
$color_yellow_dark : #bebc00;
$color_yellow_darkest : #5b5a00;

$color_yellow : $color_yellow_med;
$color_yellow_alt : #dcda23;


//Green
$color_green_lightest : #c6fcc5; 
$color_green_light : #60ff5c; 
$color_green_med : #04af00;
$color_green_dark : #037900;
$color_green_darkest : #024c00;

$color_green : $color_green_med;
$color_green_alt : #40bf3d;


//Blue
$color_blue_lightest : #a5deff;
$color_blue_light : #00a8ff; 
$color_blue_med : #0000ff;
$color_blue_dark : #002d8a;
$color_blue_darkest : #001f4a;

$color_blue : $color_blue_med;
$color_blue_alt : #3e72b8;


//Purple
$color_purple_lightest : #e2c7fd;
$color_purple_light : #bf80ff; 
$color_purple_med : #7e00ff;
$color_purple_dark : #45008c;
$color_purple_darkest : #200040;

$color_purple : $color_purple_med;
$color_purple_alt : #7547a5;


//Grey
$color_grey_lightest : #d8d8d8;
$color_grey_light : #bcbcbc; 
$color_grey_med : #828282;
$color_grey_dark : #616161;
$color_grey_darkest : #363636;

$color_grey : $color_grey_med;
$color_grey_alt : #7b7784;


//Black
$color_black : #000000;
$color_black_alt : #202020;

//White
$color_white : #ffffff;
$color_white_alt : #ebebeb;