//container widths for desktop views
$global_container_width_slim : 1000px;
$global_container_width_standard : 1200px;
$global_container_width_wide : 1350px;
$global_container_width_widest : 100%;

//perhaps there are other width variables we would put here