//Sometimes, you just need to punt and write an ugly CSS rule for an odd-one-out, hyper-specific scenario. This is a safe space for that. 

body.page-name section.module-name p:nth-of-type(3) > strong {
    font-size: 100px !important;
    transform: rotate(32deg);
}

//Please, do this sparingly.